body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #cfd4d3;
  background-image: url(../img/nikolay-tarashchenko-vPgc_bIlX4I-unsplash.jpg);
  position: relative;
  width: 100%;
  min-height: 660px;
  background-size: 2000px 1080px;
  background-position: center;
  background-repeat: no-repeat;
}

.row .imgme {
  margin-top: -100px;
}

.custom-shape-divider-bottom-1624802868 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624802868 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1624802868 .shape-fill {
  fill: #ffffff;
}
